<%= link_to tour_path(booking.tour), class: "text-decoration-none text-dark" do %>
  <div class="card-product mt-4">
    <%= cl_image_tag booking.tour.photo.key, class: "card-img-top" %>
    <div class="card-product-infos">
      <h2><%= booking.tour.name %> (<%= booking.tour.city %>)</h2>
      <p><strong><%= booking.start_date.strftime("%A, %d %b %y") %></strong></p>
      <p><i class="fas fa-map-marker-alt"></i> <%= booking.tour.starting_point %></p>
      <div class="d-flex justify-content-end">
        <div class="flex-grow-1">
          <p><i class="far fa-clock"></i>
            <% if booking.tour.duration >= 60 %>
              <% if booking.tour.duration % 60 == 0 %>
                <%= booking.tour.minutes_to_hours[:hours] %>
                <%= booking.tour.minutes_to_hours[:hours] > 1 ? "hours" : "hour" %>
              <% else %>
                <%= booking.tour.minutes_to_hours[:hours] %>
                <%= booking.tour.minutes_to_hours[:hours] > 1 ? "hours" : "hour" %>
                <%= booking.tour.minutes_to_hours[:minutes] %> minutes
              <% end %>
            <% else %>
              <%= booking.tour.duration %> minutes
            <% end %>
          </p>
        </div>
        <div>
        </div>
          <p class="me-3">
            <%= booking.tour.users.count %>
            <%= booking.tour.users.count == 1 ? "person" : "people"  %>
            are joining this tour
           </p>
        <div>
          <% booking.tour.users.each do |user| %>
            <%= cl_image_tag user.photo.key, class: "avatar", alt: "avatar" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
