<div class="container">
  <h3 class="dashboard-title mt-4">Your dashboard</h3>
  <ul class="nav nav-pills mt-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Your upcoming tours</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Reservations for your tours</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Tours you offer </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active my-4" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-12" style="margin-bottom: 350px">
        <% if @tourist_bookings.empty? %>
            <div class="m-3" style="height: 75vh">
              <p >You don't have any bookings yet.</p>
              <%= link_to "Discover our tours", tours_path, class: "btn btn-outline-info pill" %>
            </div>
        <% else %>

          <% @tourist_bookings.each do |booking| %>
            <%= render partial: "shared/bookings", locals: { booking: booking } %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade my-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-12" style="margin-bottom: 350px">
          <% if @guide_reservations.empty? %>
            <div>
              <p class="m-3">You don't have any bookings for your tours yet</p>
            </div>
          <% else %>
            <% current_user.booked_bookings.each do |booking| %>
                <%= render partial: "shared/bookings", locals: { booking: booking } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade my-4" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <% if @guide_tours.empty? %>
        <div class="m-3" style="height: 75vh">
          <p >Do you want to become guide?</p>
          <%= link_to "Create new tour", new_tour_path, class: "btn btn-outline-info pill" %>
        </div>
      <% else %>
        <div class="row">
        <div class="ms-3 my-3">
          <p >Do you want to add new tour?</p>
          <%= link_to "Create new tour", new_tour_path, class: "btn btn-outline-info pill" %>
        </div>
          <% @guide_tours.each do |tour| %>
            <div class="col-lg-3 col-md-4 col-sm-12 mt-2 mb-4">
              <%= render "shared/tour_card", tour: tour %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
