<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6">
      <div class="tourist-bookings">

        <div>
          <h5>Your tours you will be joining</h5>
        </div>

        <% current_user.bookings.each do |booking| %>
          <%= link_to tour_path(booking.tour), class: "text-decoration-none text-dark" do %>
            <div class="card-product mt-4">
              <%= cl_image_tag booking.tour.photo.key, class: "card-img-top" %>
              <div class="card-product-infos">
                <h2>on <%= booking.start_date %> </h2>
                <p><%= booking.tour.name %> (<%= booking.tour.city %>)</p>
                <div class="d-flex">
                  <p class="card-text me-2"><small class="text-muted">from: <%= booking.tour.starting_point %></small></p>
                  <p class="card-text"><small class="text-muted">to: <%= booking.tour.ending_point %></small></p>
                </div>
                <p>Your guide is <%= booking.tour.user.first_name %></p>
                <p>Duration: <%= booking.tour.duration %> mins </p>

                <p><%= booking.tour.users.count %> people are joining this tour</p>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
